<a href="https://colab.research.google.com/github/1da1ana1/Case_Itau/blob/main/CaseItau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Importando bibliotecas
Primeiro, é importante importar todas as bibliotecas que serão usadas para análise, além do banco de dados.

In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_excel('/content/drive/MyDrive/caseItau/DadosTextil.xlsx')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

2. Entendendo os tipos de dados e o que contêm no banco de dados

In [ ]:
#Esse comando permite com que eu visualize as primeiras linhas com dados e o título das colunas do banco de dados
df.head()

,Mercado,Nome Cliente,Cidade,Num Entregas,Peso equivalente,Linhas Pedido,Numero Notas Fiscais,Volumes,Faturamento Anual,Custo Produto,Custos Fixos,Custos Operacionais Relativos,Frete,$ Entregas,$ Frete Peso,Lucro,Lucratividade,Unnamed: 17,Unnamed: 18
0,Têxtil,Customer 1,DIADEMA,2,609.5675,4,2,24,17434.020,9414.3708,1516.759740,4171.4020,122.5,16.6,105.9,2208.987460,0.126706,NaN,NaN
1,Têxtil,Customer 2,EMBU-GUACU,4,1119.8125,8,4,44,5939.875,3207.5325,516.769125,3203.9875,150.0,33.2,116.8,-1138.414125,-0.191656,NaN,"Custo Nota fiscal = R$ 2,50"
2,Têxtil,Customer 3,DIADEMA,28,1045.8075,56,28,66,63449.550,34262.7570,5520.110850,11446.9550,885.0,232.4,652.6,11334.727150,0.178642,NaN,"Custo Cobrança bancária = R$ 1,00"
3,Têxtil,Customer 4,SAO PAULO,26,2471.3775,80,26,68,39779.635,21481.0029,3460.828245,8679.9635,570.0,215.8,354.2,5587.840355,0.140470,NaN,"Custo de uma entrega = R$ 8,30"
4,Têxtil,Customer 5,SAO CAETANO SUL,8,9536.9075,28,14,2832,64972.495,35085.1473,5652.607065,10423.2495,990.0,66.4,923.6,12821.491140,0.197337,NaN,NaN

In [ ]:
#Com esse comando eu consigo ver uma descrição geral dos dados da planilha.
#Como valores máximos, mínimos, média e porcentagem em que ocorre
#uso o round para arredondar os valores para só duas casas decimais
round(df.describe(),2)

,Num Entregas,Peso equivalente,Linhas Pedido,Numero Notas Fiscais,Volumes,Faturamento Anual,Custo Produto,Custos Fixos,Custos Operacionais Relativos,Frete,$ Entregas,$ Frete Peso,Lucro,Lucratividade,Unnamed: 17
count,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,145.00,0.0
mean,22.11,5323.75,118.84,27.06,531.03,88731.97,47915.26,7719.68,13555.49,840.62,183.52,657.10,18700.92,-0.29,NaN
std,34.86,19736.02,626.56,66.67,2370.95,233086.90,125866.93,20278.56,26833.04,2332.69,289.37,2114.96,58847.07,0.75,NaN
min,2.00,9.74,4.00,2.00,2.00,640.73,345.99,55.74,2432.07,0.00,16.60,-149.40,-2650.90,-3.50,NaN
25%,4.00,186.96,8.00,4.00,14.00,4426.67,2390.40,385.12,3088.67,80.00,33.20,45.90,-1664.65,-0.40,NaN
50%,10.00,792.63,24.00,12.00,42.00,16057.14,8670.85,1396.97,5214.74,295.00,83.00,189.50,385.58,0.03,NaN
75%,26.00,3754.78,56.00,28.00,204.00,57988.76,31313.93,5045.02,10353.91,842.50,215.80,597.20,8136.36,0.15,NaN
max,270.00,216838.54,7312.00,716.00,20404.00,1607974.80,868306.39,139893.81,197919.48,23982.50,2241.00,22588.10,377872.62,0.27,NaN

In [ ]:
#Com esse comando vejo as informações do tipo de dado que contido em cada coluna do banco de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Mercado                        145 non-null    object
 1   Nome Cliente                   145 non-null    object
 2   Cidade                         145 non-null    object
 3   Num Entregas                   145 non-null    int64
 4   Peso equivalente               145 non-null    float64
 5   Linhas Pedido                  145 non-null    int64
 6   Numero Notas Fiscais           145 non-null    int64
 7   Volumes                        145 non-null    int64
 8   Faturamento Anual              145 non-null    float64
 9   Custo Produto                  145 non-null    float64
 10  Custos Fixos                   145 non-null    float64
 11  Custos Operacionais Relativos  145 non-null    float64
 12  Frete                          145 non-null    float64
 13  $ Entregas                     145 non-null    float64
 14  $   Frete Peso                 145 non-null    float64
 15  Lucro                          145 non-null    float64
 16  Lucratividade                  145 non-null    float64
 17  Unnamed: 17                    0 non-null      float64
 18  Unnamed: 18                    3 non-null      object
dtypes: float64(11), int64(4), object(4)
memory usage: 21.7+ KB

In [ ]:
#Com esse comando consigo ver a nomenclatura(index) das colunas
#É importante pois os nomes serão usados para realizar a manipulação dos dados
df.columns

Index(['Mercado', 'Nome Cliente', 'Cidade', 'Num Entregas', 'Peso equivalente',
       'Linhas Pedido', 'Numero Notas Fiscais', 'Volumes', 'Faturamento Anual',
       'Custo Produto', 'Custos Fixos', 'Custos Operacionais Relativos',
       'Frete', '$ Entregas', '$   Frete Peso', 'Lucro', 'Lucratividade',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

3. Seção de tratamento de dados

In [ ]:
#Excluo as colunas que não são pertinentes
df = df.drop(columns=['Unnamed: 17', 'Unnamed: 18'], axis=1)

In [ ]:
#Renomeio as colunas para evitar erros de digitação e deixar mais claro do que se trata
df = df.rename(columns={
    "Peso equivalente": "Peso equivalente kg",
    "$ Entregas": "Entregas r$",
    "$   Frete Peso": "Frete r$",
    "Lucratividade": "Lucratividade percentual",
    "Numero Notas Fiscais": "Num Notas Fiscais",
    "Faturamento Anual": "Faturamento Anual por cli"
})

In [ ]:
#Aqui eu tiro os espaços dos títulos das colunas, coloco em minúsculas e os espaços são preenchidos com _
#Como dito anteriormente, é importante por que os nomes serão chamados para realizar operações
#E na linguagem Python no contexto de análise de dados é importante manter padronização
df.columns=(
    df.columns.str.strip()              # remove espaços
              .str.lower()              # poe em minúsculo
              .str.replace(" ", "_")    # espaços viram underscores
)

In [ ]:
#visualizando as colunas atualizadas, com a exclusão das selecionadas e as renomeadas, para melhor entendimento dos dados
df.columns

Index(['mercado', 'nome_cliente', 'cidade', 'num_entregas',
       'peso_equivalente_kg', 'linhas_pedido', 'num_notas_fiscais', 'volumes',
       'faturamento_anual_por_cli', 'custo_produto', 'custos_fixos',
       'custos_operacionais_relativos', 'frete', 'entregas_r$', 'frete_r$',
       'lucro', 'lucratividade_percentual'],
      dtype='object')

In [ ]:
#verificando se existe algum valor nulo no banco de dados
df.isnull().sum()

mercado                          0
nome_cliente                     0
cidade                           0
num_entregas                     0
peso_equivalente_kg              0
linhas_pedido                    0
num_notas_fiscais                0
volumes                          0
faturamento_anual_por_cli        0
custo_produto                    0
custos_fixos                     0
custos_operacionais_relativos    0
frete                            0
entregas_r$                      0
frete_r$                         0
lucro                            0
lucratividade_percentual         0
dtype: int64

4. Seção de Análise de Receita e Vendas

In [ ]:
#Aqui eu analiso a média de cada coluna do banco de dados
df_media = round(df.mean(numeric_only=True),1)
print(df_media)

num_entregas                        22.1
peso_equivalente_kg               5323.8
linhas_pedido                      118.8
num_notas_fiscais                   27.1
volumes                            531.0
faturamento_anual_por_cli        88732.0
custo_produto                    47915.3
custos_fixos                      7719.7
custos_operacionais_relativos    13555.5
frete                              840.6
entregas_r$                        183.5
frete_r$                           657.1
lucro                            18700.9
lucratividade_percentual            -0.3
dtype: float64

In [ ]:
#faturamento anual
df_fat_anual_total = df['faturamento_anual_por_cli'].sum()
df_fat_anual_total_f = f"{df_fat_anual_total:,.2f}".replace(",", "X").replace(".", ",").replace("X", ".")
print("O faturamento anual da empresa é:", f"R$ {df_fat_anual_total_f}")

O faturamento anual da empresa é: R$ 12.866.135,16

In [ ]:
#lucro total
df_lucro = df['lucro'].sum()
df_lucro_f = f"{df_lucro:,.2f}".replace(",", "X").replace(".", ",").replace("X", ".")
print("O lucro total da empresa no mês passado é:", f"R$ {df_lucro_f}")

O lucro total da empresa no mês passado é: R$ 2.711.632,90

In [ ]:
#pedidos no mês
pedidos_totais = df['linhas_pedido'].sum()
print("A quantidade de pedidos por mês é a seguinte:", pedidos_totais)

A quantidade de pedidos por mês é a seguinte: 17232

5. Seção de Análise de de Clientes

In [ ]:
#Contagem da quantidade de clientes
qtd_clientes = df['nome_cliente'].count()
print(f"há {qtd_clientes} clientes na base de dados")

há 145 clientes na base de dados

In [ ]:
#Porcentagem de clientes com lucratividade negativa
lucratividade_neg = (df['lucratividade_percentual'] < 0).sum()
qtd_clientes = df['nome_cliente'].count()
porcentagem_preju = (lucratividade_neg / qtd_clientes) * 100
print(f"{round(porcentagem_preju,2)} % dos clientes da empresa tiveram lucratividade negativa")

46.21 % dos clientes da empresa tiveram lucratividade negativa

In [ ]:
#representatividade financeira no faturamento anual da empresa dos clientes em porcentagem
df_identificacao_cli = df.set_index(['nome_cliente','cidade'])
contribuicao_clientes = df_identificacao_cli['faturamento_anual_por_cli'].apply(lambda row: (row * 100 )/df_fat_anual_total)
contribuicao_ordenada = contribuicao_clientes.sort_values(ascending=False)
print(f"{round(contribuicao_ordenada.head(20),2)}") #no caso os clientes que estão contribuindo mais no faturamento

nome_cliente  cidade
Customer 17   RIO CLARO         12.50
Customer 123  FRANCA             8.38
Customer 121  SAO PAULO          8.13
Customer 124  SAO PAULO          7.76
Customer 122  MOGI-MIRIM         7.02
Customer 23   FRANCA             6.62
Customer 135  AMERICANA          5.41
Customer 15   CAIEIRAS           4.58
Customer 126  SAO PAULO          3.26
Customer 39   GUARULHOS          3.09
Customer 130  ARTUR NOGUEIRA     2.08
Customer 6    DIADEMA            1.84
Customer 14   SAO PAULO          1.52
Customer 145  JAU                1.30
Customer 113  AMERICANA          1.29
Customer 65   AMERICANA          1.20
Customer 118  SAO PAULO          1.13
Customer 129  CAIEIRAS           0.90
Customer 28   AMERICANA          0.86
Customer 86   GUARULHOS          0.77
Name: faturamento_anual_por_cli, dtype: float64

In [ ]:
#procurar pelos clientes que o lucro é negativo e o frete é maior que a média de frete(em reais)
df[(df.lucro < 1) & (df.frete > df.frete.mean())].round(2)

,mercado,nome_cliente,cidade,num_entregas,peso_equivalente_kg,linhas_pedido,num_notas_fiscais,volumes,faturamento_anual_por_cli,custo_produto,custos_fixos,custos_operacionais_relativos,frete,entregas_r$,frete_r$,lucro,lucratividade_percentual
47,Têxtil,Customer 48,SANTO ANDRE,20,1737.17,48,20,66,16119.46,8704.51,1402.39,6049.95,842.5,166.0,676.5,-879.89,-0.05

In [ ]:
#clientes com lucro positivo e cujo faturamento anual está acima da média do faturamento anual
retorno_clientes = df[(df.lucro > 1) & (df['faturamento_anual_por_cli'] > df['faturamento_anual_por_cli'].mean())]
retorno_clientes.round(2)

,mercado,nome_cliente,cidade,num_entregas,peso_equivalente_kg,linhas_pedido,num_notas_fiscais,volumes,faturamento_anual_por_cli,custo_produto,custos_fixos,custos_operacionais_relativos,frete,entregas_r$,frete_r$,lucro,lucratividade_percentual
5,Têxtil,Customer 6,DIADEMA,36,8039.28,72,36,348,236436.24,127675.57,20569.95,30433.62,2162.5,298.8,1863.7,55594.59,0.24
13,Têxtil,Customer 14,SAO PAULO,68,15013.28,228,70,474,195998.35,105839.11,17051.86,29277.83,2542.5,564.4,1978.1,41287.05,0.21
14,Têxtil,Customer 15,CAIEIRAS,110,38106.73,756,112,1370,589453.72,318305.01,51282.47,75701.37,6890.0,913.0,5977.0,137274.87,0.23
16,Têxtil,Customer 17,RIO CLARO,168,216838.54,636,202,20404,1607974.80,868306.39,139893.81,197919.48,23982.5,1394.4,22588.1,377872.62,0.23
22,Têxtil,Customer 23,FRANCA,270,76922.36,7312,716,11636,851513.22,459817.14,74081.65,121989.32,11672.5,2241.0,9431.5,183952.61,0.22
27,Têxtil,Customer 28,AMERICANA,40,4944.70,144,40,1296,110538.15,59690.60,9616.82,17195.82,790.0,332.0,458.0,23244.92,0.21
38,Têxtil,Customer 39,GUARULHOS,12,8670.27,56,28,780,398104.06,214976.19,34635.05,43136.41,130.0,99.6,30.4,105226.41,0.26
64,Têxtil,Customer 65,AMERICANA,58,16754.34,144,62,1416,154382.22,83366.40,13431.25,23608.22,1542.5,481.4,1061.1,32433.85,0.21
85,Têxtil,Customer 86,GUARULHOS,66,27823.93,148,74,1390,98477.28,53177.73,8567.52,19253.73,2305.0,547.8,1757.2,15173.30,0.15
112,Têxtil,Customer 113,AMERICANA,58,17511.92,132,64,692,165644.61,89448.09,14411.08,24904.46,1865.0,481.4,1383.6,35015.98,0.21
117,Têxtil,Customer 118,SAO PAULO,12,1398.30,24,12,454,145410.09,78521.45,12650.68,18435.01,902.5,99.6,802.9,34900.45,0.24
120,Têxtil,Customer 121,SAO PAULO,50,4849.27,100,50,68,1045670.00,564661.80,90973.29,111657.00,1192.5,415.0,777.5,277185.41,0.27
121,Têxtil,Customer 122,MOGI-MIRIM,72,9176.62,156,74,332,903456.00,487866.24,78600.67,99559.60,1627.5,597.6,1029.9,235801.99,0.26
122,Têxtil,Customer 123,FRANCA,50,2691.44,100,50,102,1077860.00,582044.40,93773.82,114866.00,1175.0,415.0,760.0,286000.78,0.27
123,Têxtil,Customer 124,SAO PAULO,2,153.85,4,2,6,997890.00,538860.60,86816.43,102143.00,32.5,16.6,15.9,270037.47,0.27
125,Têxtil,Customer 126,SAO PAULO,60,24283.38,148,66,210,419768.04,226674.74,36519.82,51692.80,3452.5,498.0,2954.5,101428.18,0.24
128,Têxtil,Customer 129,CAIEIRAS,38,5326.41,88,44,42,115517.91,62379.67,10050.06,17643.79,1130.0,315.4,814.6,24314.39,0.21
129,Têxtil,Customer 130,ARTUR NOGUEIRA,64,9554.44,208,70,420,267783.20,144602.93,23297.14,35018.32,1155.0,531.2,623.8,63709.81,0.24
134,Têxtil,Customer 135,AMERICANA,150,37641.28,352,158,280,695461.99,375549.47,60505.19,87828.20,5230.0,1245.0,3985.0,166349.12,0.24
144,Têxtil,Customer 145,JAU,168,15311.24,1792,238,1904,167738.17,90578.61,14593.22,36461.82,4295.0,1394.4,2900.6,21809.52,0.13

In [ ]:
#clientes que os custos superam o faturamento anual(soma de todos os custos)
custos_totais_cli = df['custo_produto'] + df['custos_fixos'] + df['custos_operacionais_relativos']
df[df['faturamento_anual_por_cli'] < custos_totais_cli].round(2)

,mercado,nome_cliente,cidade,num_entregas,peso_equivalente_kg,linhas_pedido,num_notas_fiscais,volumes,faturamento_anual_por_cli,custo_produto,custos_fixos,custos_operacionais_relativos,frete,entregas_r$,frete_r$,lucro,lucratividade_percentual
1,Têxtil,Customer 2,EMBU-GUACU,4,1119.81,8,4,44,5939.88,3207.53,516.77,3203.99,150.0,33.2,116.8,-1138.41,-0.19
8,Têxtil,Customer 9,DIADEMA,20,1462.57,40,20,58,13909.04,7510.88,1210.09,5470.90,400.0,166.0,234.0,-682.83,-0.05
10,Têxtil,Customer 11,ITAPEC DA SERRA,16,3410.07,40,18,372,9603.12,5185.69,835.47,4928.31,607.5,132.8,474.7,-1953.85,-0.20
19,Têxtil,Customer 20,POMPEIA,8,1038.02,24,8,72,9316.84,5031.09,810.57,3923.68,222.5,66.4,156.1,-671.00,-0.07
23,Têxtil,Customer 24,MAUA,2,13.63,4,2,2,640.73,345.99,55.74,2432.07,50.0,16.6,33.4,-2243.08,-3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Têxtil,Customer 137,SAO PAULO,8,144.12,20,8,10,9112.35,4920.67,792.77,3895.24,222.5,66.4,156.1,-718.83,-0.08
137,Têxtil,Customer 138,STA BARB DOESTE,6,276.54,12,6,12,4426.67,2390.40,385.12,3088.67,0.0,49.8,-49.8,-1437.52,-0.32
138,Têxtil,Customer 139,FRANCA,6,130.48,12,6,4,4506.52,2433.52,392.07,3128.65,42.5,49.8,-7.3,-1490.22,-0.33
139,Têxtil,Customer 140,SAO PAULO,2,101.27,4,2,10,979.59,528.98,85.22,2449.96,30.0,16.6,13.4,-2114.57,-2.16
142,Têxtil,Customer 143,SANTOS,2,116.85,4,2,14,1076.97,581.56,93.70,2467.70,37.5,16.6,20.9,-2103.49,-1.95

In [ ]:
# Filtra as cidades com clientes que contribuíram com mais de 1% de contribuição no faturamento
clientes_acima_1 = contribuicao_clientes[contribuicao_clientes > 1]
contribuicao_por_cidade = clientes_acima_1.index.get_level_values('cidade').value_counts()

print("Número de clientes com contribuição > 1% por cidade:")
print(contribuicao_por_cidade)

Número de clientes com contribuição > 1% por cidade:
cidade
SAO PAULO         5
AMERICANA         3
FRANCA            2
DIADEMA           1
RIO CLARO         1
CAIEIRAS          1
GUARULHOS         1
MOGI-MIRIM        1
ARTUR NOGUEIRA    1
JAU               1
Name: count, dtype: int64

In [ ]:
##Aqui eu vejo a média da contribuição, máximo e mínimo
contribuicao_ordenada.agg(["max", "min", "mean"]).round(4)

max     12.4977
min      0.0050
mean     0.6897
Name: faturamento_anual_por_cli, dtype: float64

6. Seção de Análise de localidade e custo operacional de fretes

In [ ]:
#Vejo todas as cidades existentes no banco de dados
df["cidade"].unique()

array(['DIADEMA', 'EMBU-GUACU', 'SAO PAULO', 'SAO CAETANO SUL', 'OSASCO',
       'ITAPEC DA SERRA', 'FERRAZ VASCONCELOS', 'CAIEIRAS', 'RIO CLARO',
       'LOUVEIRA', 'POMPEIA', 'BARUERI', 'FRANCA', 'MAUA', 'AURIFLAMA',
       'S BERNARDO CAMPO', 'AMERICANA', 'FERNANDOPOLIS', 'NOVA ODESSA',
       'SANTOS', 'BIRIGUI', 'SAO ROQUE', 'COTIA', 'JAU', 'GUARULHOS',
       'SOROCABA', 'CAMPINAS', 'CAMPO LIMPO PTA', 'SANTO ANDRE',
       'JOSE BONIFACIO', 'MOCOCA', 'JACAREI', 'MORUNGABA', 'BASTOS',
       'PORTO FELIZ', 'POA', 'PIRACAIA', 'INDAIATUBA', 'CABREUVA',
       'ARARAQUARA', 'VOTUPORANGA', 'LEME', 'S J RIO PRETO',
       'SAO VICENTE', 'ITATIBA', 'MOGI-MIRIM', 'SAO CARLOS',
       'STA BARB DOESTE', 'ARTUR NOGUEIRA', 'IBITINGA', 'SUMARE'],
      dtype=object)

In [ ]:
#Quantas cidades existem, sem repetição(unique), qual a cidade que mais aparece e a frequência com que ela aparece
df["cidade"].describe()

count           145
unique           51
top       SAO PAULO
freq             48
Name: cidade, dtype: object

In [ ]:
#Quantas vezes cada cidade se repete no banco de dados
df["cidade"].value_counts()

cidade
SAO PAULO             48
AMERICANA             10
DIADEMA                6
FRANCA                 6
GUARULHOS              5
BIRIGUI                4
OSASCO                 3
CAMPINAS               3
JAU                    3
NOVA ODESSA            3
STA BARB DOESTE        3
S BERNARDO CAMPO       2
MAUA                   2
SANTOS                 2
AURIFLAMA              2
BARUERI                2
SAO CAETANO SUL        2
RIO CLARO              2
CAIEIRAS               2
SANTO ANDRE            2
SOROCABA               2
JOSE BONIFACIO         2
ITAPEC DA SERRA        1
FERRAZ VASCONCELOS     1
EMBU-GUACU             1
LOUVEIRA               1
POMPEIA                1
FERNANDOPOLIS          1
SAO ROQUE              1
CAMPO LIMPO PTA        1
COTIA                  1
JACAREI                1
MORUNGABA              1
BASTOS                 1
MOCOCA                 1
PORTO FELIZ            1
POA                    1
INDAIATUBA             1
PIRACAIA               1
ARARAQUARA             1
VOTUPORANGA            1
LEME                   1
CABREUVA               1
S J RIO PRETO          1
SAO VICENTE            1
MOGI-MIRIM             1
ITATIBA                1
SAO CARLOS             1
ARTUR NOGUEIRA         1
IBITINGA               1
SUMARE                 1
Name: count, dtype: int64

In [ ]:
#Como São Paulo e Americana são as cidadesmais frequentes, eu puxo elas do banco de dados
#Podemos observar que a quantidade de entregas nessas cidades é alto, além de linhas de pedido
df[((df.cidade == 'SAO PAULO') | (df.cidade == 'AMERICANA'))]

,mercado,nome_cliente,cidade,num_entregas,peso_equivalente_kg,linhas_pedido,num_notas_fiscais,volumes,faturamento_anual_por_cli,custo_produto,custos_fixos,custos_operacionais_relativos,frete,entregas_r$,frete_r$,lucro,lucratividade_percentual
3,Têxtil,Customer 4,SAO PAULO,26,2471.3775,80,26,68,3.977964e+04,21481.00290,3460.828245,8679.96350,570.0,215.8,354.2,5587.840355,0.140470
6,Têxtil,Customer 7,SAO PAULO,20,584.2500,40,20,22,1.735807e+04,9373.35645,1510.151873,5847.80675,445.0,166.0,279.0,181.752428,0.010471
11,Têxtil,Customer 12,SAO PAULO,24,2726.5000,48,24,122,2.451124e+04,13236.06690,2132.477445,6935.12350,500.0,199.2,300.8,1707.567155,0.069665
13,Têxtil,Customer 14,SAO PAULO,68,15013.2775,228,70,474,1.959983e+05,105839.10770,17051.856230,29277.83475,2542.5,564.4,1978.1,41287.048870,0.210650
15,Têxtil,Customer 16,SAO PAULO,4,2035.1375,8,4,80,4.174856e+04,22544.22105,3632.124503,7010.85575,425.0,33.2,391.8,8136.356198,0.194890
18,Têxtil,Customer 19,SAO PAULO,16,344.7075,32,16,72,2.565831e+04,13855.48875,2232.273188,6381.83125,465.0,132.8,332.2,2723.719313,0.106153
24,Têxtil,Customer 25,SAO PAULO,2,9.7375,4,2,4,7.400500e+02,399.62700,64.384350,2442.00500,50.0,16.6,33.4,-2215.966350,-2.994347
27,Têxtil,Customer 28,AMERICANA,40,4944.7025,144,40,1296,1.105382e+05,59690.60235,9616.819268,17195.81525,790.0,332.0,458.0,23244.915630,0.210289
28,Têxtil,Customer 29,SAO PAULO,8,54.5300,20,10,10,5.340045e+03,2883.62430,464.583915,3500.00450,200.0,66.4,133.6,-1708.167715,-0.319879
32,Têxtil,Customer 33,SAO PAULO,28,666.0450,56,28,28,1.361108e+04,7349.98185,1184.163743,6067.10775,395.0,232.4,162.6,-1385.175843,-0.101768
35,Têxtil,Customer 36,SAO PAULO,2,9.7375,4,2,2,7.556300e+02,408.04020,65.739810,2441.56300,47.5,16.6,30.9,-2207.213010,-2.921024
39,Têxtil,Customer 40,SAO PAULO,12,1497.6275,24,12,40,7.073320e+03,3819.59280,615.378840,4095.33200,330.0,99.6,230.4,-1786.983640,-0.252637
40,Têxtil,Customer 41,SAO PAULO,12,140.2200,32,12,34,6.345700e+04,34266.78000,5520.759000,9687.70000,270.0,99.6,170.4,13711.761000,0.216080
41,Têxtil,Customer 42,SAO PAULO,70,7094.7425,288,82,990,6.343007e+04,34252.24050,5518.416525,15281.00750,1320.0,581.0,739.0,7058.410475,0.111279
45,Têxtil,Customer 46,SAO PAULO,4,397.2900,8,4,36,2.091615e+03,1129.47210,181.970505,2787.16150,110.0,33.2,76.8,-2116.989105,-1.012131
46,Têxtil,Customer 47,SAO PAULO,2,11.6850,4,2,2,1.063335e+03,574.20090,92.510145,2474.33350,50.0,16.6,33.4,-2127.709545,-2.000978
49,Têxtil,Customer 50,SAO PAULO,4,111.0075,8,4,4,1.053598e+03,568.94265,91.662982,2635.35975,55.0,33.2,21.8,-2297.367883,-2.180499
50,Têxtil,Customer 51,SAO PAULO,4,128.5350,12,4,6,1.009779e+04,5452.80525,878.507512,3603.77875,132.5,33.2,99.3,30.195988,0.002990
51,Têxtil,Customer 52,SAO PAULO,4,222.0150,8,4,8,2.111090e+03,1139.98860,183.664830,2747.10900,62.5,33.2,29.3,-2022.172430,-0.957881
54,Têxtil,Customer 55,AMERICANA,12,8050.9650,20,10,36,6.071526e+04,32786.24040,5282.227620,10115.52600,1152.5,99.6,1052.9,11378.765980,0.187412
57,Têxtil,Customer 58,SAO PAULO,2,200.5925,4,2,22,1.464520e+03,790.84080,127.413240,2516.45200,50.0,16.6,33.4,-2020.186040,-1.379419
58,Têxtil,Customer 59,SAO PAULO,2,27.2650,4,2,2,1.692378e+03,913.88385,147.236842,2541.23775,55.0,16.6,38.4,-1964.980943,-1.161077
64,Têxtil,Customer 65,AMERICANA,58,16754.3425,144,62,1416,1.543822e+05,83366.39880,13431.253140,23608.22200,1542.5,481.4,1061.1,32433.846060,0.210088
65,Têxtil,Customer 66,AMERICANA,18,4366.2950,52,18,246,6.345600e+04,34266.24000,5520.672000,10333.60000,450.0,149.4,300.6,12885.488000,0.203062
66,Têxtil,Customer 67,SAO PAULO,18,4370.1900,40,18,166,6.475438e+04,34967.36250,5633.630625,10831.43750,925.0,149.4,775.6,12396.944380,0.191446
68,Têxtil,Customer 69,SAO PAULO,4,155.8000,8,4,22,1.577475e+03,851.83650,137.240325,2703.74750,72.5,33.2,39.3,-2187.849325,-1.386931
69,Têxtil,Customer 70,SAO PAULO,16,5513.3725,48,16,526,6.935826e+04,37453.46310,6034.169055,11021.82650,730.0,132.8,597.2,14118.806350,0.203563
70,Têxtil,Customer 71,SAO PAULO,2,27.2650,8,2,8,3.639878e+03,1965.53385,316.669343,2743.98775,62.5,16.6,45.9,-1448.813443,-0.398039
71,Têxtil,Customer 72,SAO PAULO,2,48.6875,4,2,2,2.175358e+03,1174.69305,189.256102,2587.53575,52.5,16.6,35.9,-1828.627403,-0.840610
75,Têxtil,Customer 76,SAO PAULO,8,72.0575,16,8,8,7.840635e+03,4233.94290,682.135245,3762.06350,217.5,66.4,151.1,-1055.006645,-0.134556
76,Têxtil,Customer 77,SAO PAULO,22,2662.2325,60,28,94,2.207686e+04,11921.50440,1920.686820,6683.68600,685.0,182.6,502.4,865.982780,0.039226
81,Têxtil,Customer 82,SAO PAULO,4,362.2350,8,4,16,5.347835e+03,2887.83090,465.261645,3086.78350,80.0,33.2,46.8,-1172.041045,-0.219162
84,Têxtil,Customer 85,SAO PAULO,2,196.6975,8,2,22,2.954358e+03,1595.35305,257.029103,2661.43575,42.5,16.6,25.9,-1601.960403,-0.542236
86,Têxtil,Customer 87,SAO PAULO,16,4578.5725,40,16,22,6.306589e+04,34055.58195,5486.732648,10250.58925,627.5,132.8,494.7,12645.488650,0.200512
87,Têxtil,Customer 88,AMERICANA,4,465.4525,8,4,4,8.866968e+03,4788.16245,771.426173,3458.69675,107.5,33.2,74.3,-258.817873,-0.029189
90,Têxtil,Customer 91,AMERICANA,32,2194.8325,88,32,366,5.798876e+04,31313.93040,5045.022120,11226.87600,842.5,265.6,576.9,9560.431480,0.164867
91,Têxtil,Customer 92,SAO PAULO,32,523.8775,104,40,66,3.561199e+04,19230.47190,3098.242695,8973.19850,857.5,265.6,591.9,3452.571905,0.096950
92,Têxtil,Customer 93,SAO PAULO,44,3388.6500,220,48,162,3.515822e+04,18985.43745,3058.764923,10083.82175,1057.5,365.2,692.3,1972.693378,0.056109
94,Têxtil,Customer 95,SAO PAULO,2,9.7375,4,2,2,7.458925e+02,402.78195,64.892647,2442.58925,50.0,16.6,33.4,-2214.371348,-2.968754
95,Têxtil,Customer 96,SAO PAULO,8,276.5450,24,8,52,3.863840e+03,2086.47360,336.154080,3292.38400,117.5,66.4,51.1,-1968.671680,-0.509512
97,Têxtil,Customer 98,SAO PAULO,8,556.9850,16,8,60,5.517267e+03,2979.32445,480.002273,3473.72675,140.0,66.4,73.6,-1555.785973,-0.281985
98,Têxtil,Customer 99,SAO PAULO,26,693.3100,52,26,28,1.458093e+04,7873.70355,1268.541128,5988.09325,375.0,215.8,159.2,-924.405427,-0.063398
103,Têxtil,Customer 104,SAO PAULO,46,10765.7800,256,96,3104,8.790431e+04,47468.32605,7647.674753,16032.43075,1262.5,381.8,880.7,15493.375950,0.176253
105,Têxtil,Customer 106,AMERICANA,4,465.4525,8,4,4,7.236910e+03,3907.93140,629.611170,3289.69100,100.0,33.2,66.8,-690.323570,-0.095389
106,Têxtil,Customer 107,SAO PAULO,14,373.9200,28,14,42,2.683850e+04,14492.78865,2334.949283,6311.84975,432.5,116.2,316.3,3266.409818,0.121706
112,Têxtil,Customer 113,AMERICANA,58,17511.9200,132,64,692,1.656446e+05,89448.09075,14411.081290,24904.46125,1865.0,481.4,1383.6,35015.979210,0.211392
114,Têxtil,Customer 115,SAO PAULO,2,132.4300,4,2,22,2.192885e+03,1184.15790,190.780995,2577.28850,35.0,16.6,18.4,-1794.342395,-0.818256
117,Têxtil,Customer 118,SAO PAULO,12,1398.3050,24,12,454,1.454101e+05,78521.44725,12650.677610,18435.00875,902.5,99.6,802.9,34900.453890,0.240014
120,Têxtil,Customer 121,SAO PAULO,50,4849.2750,100,50,68,1.045670e+06,564661.80000,90973.290000,111657.00000,1192.5,415.0,777.5,277185.410000,0.265079
123,Têxtil,Customer 124,SAO PAULO,2,153.8525,4,2,6,9.978900e+05,538860.60000,86816.430000,102143.00000,32.5,16.6,15.9,270037.470000,0.270608
124,Têxtil,Customer 125,SAO PAULO,2,654.3600,4,2,48,8.206765e+03,4431.65310,713.988555,3226.67650,90.0,16.6,73.4,-255.553155,-0.031139
125,Têxtil,Customer 126,SAO PAULO,60,24283.3775,148,66,210,4.197680e+05,226674.74430,36519.819920,51692.80450,3452.5,498.0,2954.5,101428.176300,0.241629
130,Têxtil,Customer 131,SAO PAULO,22,12853.5000,100,30,16242,6.881296e+04,37159.00110,5986.727955,13913.29650,1535.0,182.6,1352.4,10218.939450,0.148503
131,Têxtil,Customer 132,SAO PAULO,4,107.1125,8,4,4,4.748005e+03,2563.92270,413.076435,3016.80050,70.0,33.2,36.8,-1315.794635,-0.277126
134,Têxtil,Customer 135,AMERICANA,150,37641.2800,352,158,280,6.954620e+05,375549.47330,60505.192910,87828.19875,5230.0,1245.0,3985.0,166349.122600,0.239192
136,Têxtil,Customer 137,SAO PAULO,8,144.1150,20,8,10,9.112353e+03,4920.67035,792.774667,3895.23525,222.5,66.4,156.1,-718.827768,-0.078885
139,Têxtil,Customer 140,SAO PAULO,2,101.2700,4,2,10,9.795925e+02,528.97995,85.224547,2449.95925,30.0,16.6,13.4,-2114.571248,-2.158623
140,Têxtil,Customer 141,AMERICANA,16,2161.7250,32,16,102,1.788584e+04,9658.35360,1556.068080,5516.58400,350.0,132.8,217.2,804.834320,0.044998

In [ ]:
#máximo e mínimo de lucro por cidade
var_lucro_cidades = df.groupby(['cidade']).lucro.agg(["min", "max"])
round(var_lucro_cidades,2)

                          min        max
cidade
AMERICANA             -690.32  166349.12
ARARAQUARA            3452.82    3452.82
ARTUR NOGUEIRA       63709.81   63709.81
AURIFLAMA            -1818.40   -1162.10
BARUERI               2173.22    2242.40
BASTOS                 385.58     385.58
BIRIGUI               -756.00    1619.74
CABREUVA             -1778.55   -1778.55
CAIEIRAS             24314.39  137274.87
CAMPINAS             -1664.65    1246.43
CAMPO LIMPO PTA      -2116.20   -2116.20
COTIA                 -785.21    -785.21
DIADEMA               -682.83   55594.59
EMBU-GUACU           -1138.41   -1138.41
FERNANDOPOLIS        -2048.14   -2048.14
FERRAZ VASCONCELOS    3859.53    3859.53
FRANCA               -1958.00  286000.78
GUARULHOS            -2116.82  105226.41
IBITINGA             -1911.89   -1911.89
INDAIATUBA            -715.57    -715.57
ITAPEC DA SERRA      -1953.85   -1953.85
ITATIBA              -1796.99   -1796.99
JACAREI               6694.04    6694.04
JAU                  -2053.91   21809.52
JOSE BONIFACIO        -739.59    3167.40
LEME                 -1258.49   -1258.49
LOUVEIRA             15206.53   15206.53
MAUA                 -2243.08     679.06
MOCOCA                7602.08    7602.08
MOGI-MIRIM          235801.99  235801.99
MORUNGABA              491.35     491.35
NOVA ODESSA            263.99    3931.17
OSASCO               -2150.86   14650.17
PIRACAIA             -1915.27   -1915.27
POA                  -1681.75   -1681.75
POMPEIA               -671.00    -671.00
PORTO FELIZ          -2650.90   -2650.90
RIO CLARO            -1194.61  377872.62
S BERNARDO CAMPO     -2134.98    1558.06
S J RIO PRETO        -1744.51   -1744.51
SANTO ANDRE           -879.89   14800.40
SANTOS               -2103.49   -1943.11
SAO CAETANO SUL       -558.00   12821.49
SAO CARLOS            8851.95    8851.95
SAO PAULO            -2297.37  277185.41
SAO ROQUE             5507.58    5507.58
SAO VICENTE           2286.79    2286.79
SOROCABA              -997.41    6023.41
STA BARB DOESTE      -1437.52    5090.57
SUMARE                5760.99    5760.99
VOTUPORANGA          -1299.57   -1299.57

In [ ]:
#o máximo e mínimo de lucro por quantidade de entrega em ordem decrescente
#De 40 entregas para cima obtivemos lucro positivo, já menores quantidades de entrega geram prejuízo
var_entregas = df.groupby(['num_entregas']).lucro.agg(["min", "max"])
round(var_entregas,2).sort_values(by='min',ascending=False)

                    min        max
num_entregas
50            277185.41  286000.78
72            235801.99  235801.99
270           183952.61  183952.61
150           166349.12  166349.12
110           137274.87  137274.87
64             63709.81   63709.81
36             55594.59   55594.59
68             41287.05   41287.05
58             32433.85   35015.98
38             24314.39   24314.39
168            21809.52  377872.62
30             16922.80   16922.80
66             15173.30   15173.30
54              7602.08    7602.08
70              7058.41    7058.41
34              6206.93    6206.93
32              3452.57    9560.43
46              2907.21   15493.38
60              2286.79  101428.18
44              1972.69   15206.53
24              1707.57    6694.04
22               865.98   10218.94
40                22.63   23244.92
18              -558.00   12885.49
14              -756.00   14800.40
20              -879.89    5090.57
26              -924.41    5587.84
28             -1385.18   11334.73
6              -1744.51    -715.57
12             -1786.98  105226.41
16             -1953.85   14118.81
10             -2048.14    1246.43
2              -2243.08  270037.47
4              -2297.37    8851.95
8              -2650.90   12821.49

In [ ]:
#em ordem decrescente, os clientes que tem maior custo operacional relativo
indices_ordenados = df["custos_operacionais_relativos"].sort_values(ascending=False).index
df.loc[indices_ordenados].round(2)

,mercado,nome_cliente,cidade,num_entregas,peso_equivalente_kg,linhas_pedido,num_notas_fiscais,volumes,faturamento_anual_por_cli,custo_produto,custos_fixos,custos_operacionais_relativos,frete,entregas_r$,frete_r$,lucro,lucratividade_percentual
16,Têxtil,Customer 17,RIO CLARO,168,216838.54,636,202,20404,1607974.80,868306.39,139893.81,197919.48,23982.5,1394.4,22588.1,377872.62,0.23
22,Têxtil,Customer 23,FRANCA,270,76922.36,7312,716,11636,851513.22,459817.14,74081.65,121989.32,11672.5,2241.0,9431.5,183952.61,0.22
122,Têxtil,Customer 123,FRANCA,50,2691.44,100,50,102,1077860.00,582044.40,93773.82,114866.00,1175.0,415.0,760.0,286000.78,0.27
120,Têxtil,Customer 121,SAO PAULO,50,4849.27,100,50,68,1045670.00,564661.80,90973.29,111657.00,1192.5,415.0,777.5,277185.41,0.27
123,Têxtil,Customer 124,SAO PAULO,2,153.85,4,2,6,997890.00,538860.60,86816.43,102143.00,32.5,16.6,15.9,270037.47,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Têxtil,Customer 140,SAO PAULO,2,101.27,4,2,10,979.59,528.98,85.22,2449.96,30.0,16.6,13.4,-2114.57,-2.16
94,Têxtil,Customer 95,SAO PAULO,2,9.74,4,2,2,745.89,402.78,64.89,2442.59,50.0,16.6,33.4,-2214.37,-2.97
24,Têxtil,Customer 25,SAO PAULO,2,9.74,4,2,4,740.05,399.63,64.38,2442.00,50.0,16.6,33.4,-2215.97,-2.99
35,Têxtil,Customer 36,SAO PAULO,2,9.74,4,2,2,755.63,408.04,65.74,2441.56,47.5,16.6,30.9,-2207.21,-2.92
23,Têxtil,Customer 24,MAUA,2,13.63,4,2,2,640.73,345.99,55.74,2432.07,50.0,16.6,33.4,-2243.08,-3.50